@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 56px;
}

/* Track */
::-webkit-scrollbar-track {
border-radius: 100vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ec4899;
border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ec4899;
}
  